// Sizes
$base_size: 16px;

// Colors
$body_color:  #fff;
$text_color:  #333;
$link_color:  #39687f;

// Font stacks
$main_font:     "Helvetica Neue", Helvetica, Arial, sans-serif;
$headline_font: Georgia, "Times New Roman", Times, serif;