@charset "UTF-8";

/**
 * Imports -------------------------------------------------------
 */
// Compass
@import "compass/reset",
        "compass/css3";

// Vendor
@import "vendor/_hidpi.scss";

// Modules
@import "modules/_variables.scss",
        "modules/_functions.scss",
        "modules/_mixins.scss",
        "modules/_placeholders.scss",
        "modules/_fonts.scss",
        "modules/_animations.scss";

/**
 * Sprites -------------------------------------------------------
 */
// @import "sprite/*.png";
// @include all-sprite-sprites;

// --- Use the this for retina sprites ---

// $sprites: sprite-map("sprite/*.png");
// $sprites2x: sprite-map("sprite2x/*.png");

// @each $file in (email, print, search) {
//   %sprite-interpolation0__ { @include sprite-background(interpolation0__); }
// }


/**
 * Base styles -------------------------------------------------
 */
body {
  background: $body_color;
  color: $text_color;
  font: normal normal #{em($base_size, 16px)}/100% $main_font;
}

a {
  color: $main_color;
  text-decoration: none;

  &:visited {
    color: $main_color * 1.2;
  }

  &:active,
  &:hover,
  &:focus {
    color: $main_color * 1.2;
  }
}

h1 { font-size: em(32px, $base_size); }
h2 { font-size: em(24px, $base_size); }
h3 { font-size: em(19px, $base_size); }
h4 { font-size: em(16px, $base_size); }
h5 { font-size: em(14px, $base_size); }
h6 { font-size: em(12px, $base_size); }

h1, h2, h3 {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headline_font;
  font-weight: 600;
}

abbr, acronym {
  border-bottom: 1px dotted $text_color;
  cursor: help;
}

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
}

blockquote, ul, ol, dl {
  margin: 1em;
}

ol, ul, dl {
  margin-left:2em;
}

ol li {
  list-style: decimal outside;
}

ul li {
  list-style: disc outside;
}

dl dd {
  margin-left: 1em;
}

th, td {
  border: 1px solid $text_color;
  padding: 0.500em;
}

th {
  font-weight: 600;
  text-align: center;
}

caption {
  margin-bottom: 0.500em;
  text-align: center;
}

p, fieldset, table {
  margin-bottom: 1em;
}

code, pre {
  font-family: monospace;
}

@import "partials/_forms.scss",
        "partials/_core.scss";
